[Unit]
Description=E-mail sync timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
Persistent=false
Unit=sync-email.service

[Install]
WantedBy=default.target
