[Unit]
ConditionPathExists=%h/bin/sync-email.sh
Description=E-mail sync
RefuseManualStart=no
RefuseManualStop=no
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/bin/sync-email.sh
StandardOutput=journal
StandardError=journal
TimeoutStopSec=12

[Install]
WantedBy=mail.target
