[Unit]
Description=mbsync service [gmail]
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync gmail
ExecStartPost=mu index -m ~/Mail/krikava@gmail.com
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=mail.target
