[Unit]
Description=mbsync timer [gmail]
ConditionPathExists=%h/.mbsyncrc

[Timer]
OnBootSec=2m
OnUnitInactiveSec=10m
Unit=mbsync-gmail.service

[Install]
WantedBy=default.target
