[Unit]
Description=MegaSync
After=NetworkManager-wait-online.service network.target network-online.target dbus.service
Wants=NetworkManager-wait-online.service network-online.target
Requires=dbus.service

[Service]
Type=simple
ExecStart=dbus-launch /usr/bin/megasync
Restart=on-failure
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
