[Unit]
Description=Start tmux dropdown session

[Service]
Type=oneshot
ExecStart=/usr/bin/tmux new-session -A -s dropdown -d
ExecStop=/usr/bin/tmux kill-session -t dropdown
KillMode=none
RemainAfterExit=yes
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
