[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/fikovnik/prezto.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/fikovnik/dot-vim.git
[submodule ".tmux.d"]
	path = .tmux.d
	url = https://github.com/gpakosz/.tmux.git
