[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/fikovnik/prezto.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "/home/krikava/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
