[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/fikovnik/prezto.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/fikovnik/dot-vim.git
[submodule ".tmux.d"]
	path = .tmux
	url = https://github.com/fikovnik/dot-tmux.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/fikovnik/dot-tmux.git
[submodule ".config"]
	path = .config
	url = https://github.com/fikovnik/dot-config.git
