!!! --------------------------------------------------------------------------------
!!! Xft
!!! --------------------------------------------------------------------------------

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            full

!!! --------------------------------------------------------------------------------
!!! Solarized colors
!!! --------------------------------------------------------------------------------

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

!!! --------------------------------------------------------------------------------
!!! XTerm
!!! --------------------------------------------------------------------------------


!! allow copy and paste from tmux sessions
XTerm*.disallowedWindowOps:	20,21,SetXprop

!! character classes
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!! 3rd click
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

!! Most settings are from 
!! - https://wiki.archlinux.org/index.php/Xterm
!! - https://lukas.zapletalovi.com/2013/07/hidden-gems-of-xterm.html

!! To allow the terminal itself to set the TERM variable correctly; instead of forcing in .bashrc etc.
XTerm*termName: xterm-256color

!! Interpret all incoming data as UTF-8
XTerm*locale: true

!! Scroll anytime a kit is pressed
XTerm*ScrollKey: true
XTerm*ScrollTTYKeypress: true

!! When scrolled out do not autmatically scroll down
XTerm*scrollTtyOutput: false

!! Remove the default fullscreen key
XTerm*omitTranslation: fullscreen

!! Allow the use of Alt key for shortcuts
XTerm*metaSendsEscape: true

XTerm*saveLines: 10000
XTerm*cursorBlink: false

XTerm*faceName: DejaVuSansMonoForPowerline\ Nerd\ Font:style=Book
XTerm*faceSize: 9
XTerm*renderFont: true

XTerm.vt100.translations: #override \n\
    Shift Super <KeyPress> =: larger-vt-font() \n\
    Super <KeyPress> -: smaller-vt-font() \n\
    ~Shift Super <KeyPress> =: set-vt-font(d) \n\
    ~Shift Super <Key>M: fullscreen() \n\
    Shift Super <Key>M: restore() \n\
    Super <Key>C: copy-selection(CLIPBOARD) \n\
    Super <Key>V: insert-selection(CLIPBOARD) \n\
    Super <Key>S: secure()

! No blink cursor
XTerm*blink: false

! VT Font Menu: Unreadable
XTerm*faceSize1: 7
! VT font menu: Tiny
XTerm*faceSize2: 8 
! VT font menu: Medium
XTerm*faceSize3: 9
! VT font menu: Large
XTerm*faceSize4: 10
! VT font menu: Huge
XTerm*faceSize5: 11

!!! --------------------------------------------------------------------------------
!!! URxvt
!!! --------------------------------------------------------------------------------

!! basics
URxvt.depth: 32
URxvt.geometry: 120x40
URxvt.transparent: false
URxvt.fading: 0
URxvt.urgentOnBell: false
URxvt.visualBell: false
URxvt.saveLines: 10000
URxvt.internalBorder: 3
URxvt.lineSpace: 0

!! scrolling
URxvt.jumpScroll: false
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*secondaryWheel: 1
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! fonts
URxvt*allow_bold: true
URxvt*font: xft:DejaVu Sans Mono for Powerline Nerd Font:style=Book:pixelsize=13
! Fix font space
URxvt*letterSpace: -1

!! scrollbar
URxvt*scrollBar: true     
! scrollbar width
URxvt*thickness: 5
! scrollbar color
URxvt*scrollColor: S_blue
! scrollbar to the right
URxvt*scrollBar_right: true
! scrollbar style
URxvt*scrollstyle: plain

!! Perl extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,font-size,clipboard,keyboard-select

URxvt.clipboard.copycmd:  ~/bin/clipboard.sh copy
URxvt.clipboard.pastecmd: ~/bin/clipboard.sh paste

URxvt*matcher.button: 1
URxvt*url-launcher: google-chrome

! Cursor
URxvt*cursorBlink: false
URxvt*cursorColor: S_base1
URxvt*cursorUnderline: false

!URxvt.meta8: true

!! keys

! copy and paste
URxvt.keysym.Shift-C-V: clipboard:paste
URxvt.keysym.Shift-C-C: clipboard:copy
URxvt.keysym.Shift-M-C-V: clipboard:paste_escaped

! keyboard select
URxvt.keysym.Shift-M-S: keyboard-select:activate
URxvt.keysym.Shift-M-R: keyboard-select:search

! font size
URxvt.keysym.C-plus:   font-size:increase
URxvt.keysym.C-minus:  font-size:decrease
URxvt.keysym.C-equal:  font-size:reset

!! fonts
Xft/Hinting: 1
Xft/RGBA: "rgb"
Xft/HintStyle: "hintslight"
Xft/Antialias: 1

