snippet admi
<div class="admonition-block important"><p>
${0:${VISUAL}}
</p></div>
endsnippet

snippet <s
\`\`\`$1
${0:${VISUAL}}
\`\`\`
endsnippet

snippet <sh
\`\`\`sh
${0:${VISUAL}}
\`\`\`
endsnippet

snippet <scala
\`\`\`scala
${0:${VISUAL}}
\`\`\`
endsnippet

snippet -->
⟶
endsnippet
