snippet #ifdefonce
				#ifndef ${1:`toupper(SnippetsFilename('$1_H', 'UNTITLED_H'))`}
				#define $1

				${0}

				#endif // $1

snippet rdbg
				Rprintf("*** %s: $1\n", __PRETTY_FUNCTION__);

snippet dbg
				printf("*** %s: $1\n", __PRETTY_FUNCTION__);
