snippet <s
        \`\`\`${1}
        ${2:${VISUAL}}
        \`\`\`
        ${0}

snippet <sc
        \`\`\`scala
        ${1:${VISUAL}}
        \`\`\`
        ${0}

snippet report
        ---
        title: Report - Week ${1}
        ---
        ${0}
